/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
}

@layer utilities {
  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .max-container {
    @apply max-w-[1200px] mx-auto;
  }

  .btn {
    @apply py-1 px-3 cursor-pointer rounded-xl;
  }

  .bold-32 {
    @apply text-[32px] font-[700] leading-[120%];
  }

  .medium-18 {
    @apply text-[18px] font-[400];
  }
}
